.alive{
    max-width: 1000px;
    max-height: 1000px;
    overflow: auto;
}

.alive__list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    background-color: white;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.alive__item {
    width: 10px;
    height: 10px;
    background-color: transparent;
    border: 1px solid gray;
    box-sizing: border-box;
    cursor: pointer;
    &--live {
        background-color: black;
    }
}